<!DOCTYPE html>
<html>
<head>
        <title>WSDAT</title>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <script src="{% static 'jquery.js' %}" type="text/javascript"></script>
        <img src="{% static 'MySite/logo.jpg' %}" alt="My image" height="30%" width="30%"/>
</head>
<body>
<div class="container">
        <br/>
        <form action="/login-page/" method="post">
        {% csrf_token %}
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <button type="submit" id="login-button">Login</button>
        </form>
    </div>
<!--
<form action="/arama-post/" method="post">
    {% csrf_token %}
    <br/>
    User : <input type="text" name="username" /><br/>
    Password : <input type="text" name="password" /><br/>
    <input type="submit" value="Login" />
</form>
-->

</body>
</html>
