@import url(http://fonts.googleapis.com/css?family=Bree+Serif);
html {
text-align:center;
margin:0px;
padding:0px;
background: #c0deed url(../bg.jpg) left top repeat-x;
padding-bottom:10px;

  animation: awan-animasi 10s linear;
  -ms-animation: awan-animasi 10s linear;
  -moz-animation: awan-animasi 10s linear;
  -webkit-animation: awan-animasi 10s linear;
}
.newword
{
  font-family: "Comic Sans MS", cursive, sans-serif;
}
#text
{
  position:relative;
  clear:both;
  border-radius: 1em;
  margin-top:7em;
}
#banner
{
  position:absolute;
  top: 0;
  left: 0;
}

#popupMenu
{
  border-radius: 1em;
}

@keyframes awan-animasi {
  from {
    background-position: 100% 0;
  }

  to {
    background-position: 0 0;
  };
}

@-webkit-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-ms-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-moz-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

/*******************
FOOTER
*******************/

.footer {
	padding: 25px 30px 10px 60px;
	overflow: auto;
  position: relative;
  background: #d4dedf;
  border-top: 1px solid #fff;
  border-radius: 1em;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

/* Login button */
.footer .button {
	float:left;
	padding: 11px 25px;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);


	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;

	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.footer .button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);

	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.footer .button:focus {
	position: relative;
	bottom: -1px;

	background: #56c2e1;

	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}
/* Register button */
.footer .pause {
	display: block;
	float: left;
	padding: 10px;
	margin-left: 55px;

	background: none;
	border: none;
	cursor: pointer;

	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256,256,256,0.5);
}

.footer .pause:hover {
	color: #3f9db8;
}

.footer .pause:focus {
	position: relative;
	bottom: -1px;
}
