<!DOCTYPE HTML>
<html>
    <head>
        <title>Data</title>
        <meta charset="utf-8" />
    </head>
    <body>
        
        {% for object in objects %}<span title="{{ object.word }}" style="{{ object.style }}">{{object.word}}</span>{% endfor %}
        
    </body>
</html>