<!DOCTYPE HTML>
<html>
    <head>
        <title>WSDAT</title>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'MySite/percentage.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'MySite/animation.css' %}" />
        <script src="{% static 'jquery.js' %}" type="text/javascript"></script>
        <body>
        <div id="banner">
        <p>
          <img id="logo" align="left" src="{% static 'MySite/logo.png' doc.id %}" alt="My image" height="16.5%" width="30%"/>
          <p align="right">
            <b id="user"> Username: {{ username }} </b>&nbsp;<br>
            <a id="logoutlink" href="/logout">logout</a>&nbsp;&nbsp;
          </p>
        </p>
      </div>
        <div class="progress-bar-container">
        {% for doc in numberofwords %}
          <div class="skillbar clearfix " data-percent="{{doc.1}}">
	           <div class="skillbar-title" style="background: none;" ><span><a href="{% url 'page_html' doc.0.id %}" style="color:white">{{ doc.0 }}</a></span></div>
	           <div class="skillbar-bar" style="background: #800080;"></div>
	           <div class="skill-bar-percent">{{doc.1}}</div>
          </div>
          <!-- for percentage animation -->
          <script>
          jQuery('.skillbar').each(function(){
          	jQuery(this).find('.skillbar-bar').animate({
          		width:jQuery(this).attr('data-percent')
          	},2000);
          });
          </script>
        {% endfor %}
      </div>
      </body>
    </head>
</html>
