<!DOCTYPE html>
<html>
<head>
        <title>WSDAT</title>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <script src="{% static 'jquery.js' %}" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'MySite/animation.css' %}" />
</head>
<body>
  <div id="banner" align="left"> <img src="{% static 'MySite/logo.png' %}" alt="My image" height="75%" width="30%"/></div>
  <form name="login-form" class="login-form" action="/login-page/" method="post">{% csrf_token %}

  	<!--HEADER-->
      <div class="header">
      <!--TITLE--><h1>Login Form</h1><!--END TITLE-->
      </div>
      <!--END HEADER-->

  	<!--CONTENT-->
      <div class="content">
  	<!--USERNAME--><input name="username" placeholder="Username" type="text" class="input username" value="Username" onfocus="this.value=''" /><!--END USERNAME-->
      <!--PASSWORD--><input name="password" placeholder="Password" type="password" class="input password" value="Password" onfocus="this.value=''" /><!--END PASSWORD-->
      </div>
      <!--END CONTENT-->

      <!--FOOTER-->
      <div class="footer">
      <!--LOGIN BUTTON--><input type="submit" name="submit" value="Login" class="button" /><!--END LOGIN BUTTON-->
      </div>
      <!--END FOOTER-->

  </form>
  <!--END LOGIN FORM-->

<div id="awan" class="container">
    </div>
</body>
</html>
