<!DOCTYPE HTML>
<html>
    <head>
        <title>WSDAT</title>
        <meta charset="utf-8" />
        {% load staticfiles %}
        <script src="{% static 'jquery.js' %}" type="text/javascript"></script>
        <p align="right"><b> Username: </b> {{ username }}</p>
        <img src="{% static 'MySite/logo.jpg' %}" alt="My image" height="30%" width="30%"/>
        <script type="text/javascript">
            function refresh() {
                $.ajax({
                    method: 'GET',
                    url: '/data',
                    success: function(result) {
                        $('#text').html(result);
                    },
                    error: function() {
                        alert('hata');
                    }
                });
            }
        </script>
    </head>
    <body onload="refresh()">
        <div id="text" style="border:5px solid gray; padding:80px">
            Loading...
        </div>
        <br>
          {% for object in object2 %} <span title="{{ object.word }}" style="{{ object.style }}">{{object.word}}</span>{% endfor %}
        <div>
        <button type="button">not clear</button>
        <button type="button">clear now</button>
        <button type="button" onclick="refresh()">next</button>
        </div>
        <div style="background-color:black padding:30px"></div>
    </body>
</html>
