<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf8'/>
    <title> user interface </title>
    <style>
    </style>
  </head>
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'MySite/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'MySite/stableanimation.css' %}" />
  <script src="{% static 'jquery.js' %}" type="text/javascript"></script>
  <script type="text/javascript" src="{% static 'MySite/myscripts.js' %}"></script>
  <body>
    <div id="banner">
        <img id="logo" align="left" src="{% static 'MySite/logo.png' doc.id %}" alt="My image" height="16.5%" width="30%"/>
        <p align="right">
          <b id="user"> Username:  {{ username }}</b>&nbsp; <br>
          <a id="logoutlink" href="/logout">logout</a>&nbsp;&nbsp;
        </p>
    </div><br><br>
    <p>&nbsp;</p>

    <div id="text" style="border:2px solid purple; padding:40px 60px;text-align:justify;">
      {% for object1 in page %}
          {% if object1.ambiguity == "10" %}
            <span  id= "{{ object1.word_id }}" class="sansserif" size="1" onclick="getWordDefinitions(this)" style="color:#FF0033	">{{object1.word}}</span>
          {% elif object1.ambiguity == "1"%}
            <span  id= "{{ object1.word_id }}" class="sansserif" size="1" onclick="getWordDefinitions(this)" style="color:#800080">{{object1.word}}</span>
          {% else %}
            <span id= "{{ object1.word_id }}" class="sansserif" size="1">{{object1.word}}</span>
          {% endif %}
      {% endfor %}
      <style>
      span.sansserif
      {
        font-family: "Comic Sans MS", cursive, sans-serif;
      }
      </style>
      <div id="popupMenu">
      </div>
    </div>
    <div class="footer">
      <a id="notclear" align="center" class="button" onclick="takeoneword()">Not Clear</a>
      <a id="Pause" class="pause" onclick="window.location.href='/MySite/'">Pause</a>
      &nbsp;&nbsp;<div id="result"></div>
    </div>
    <div style="background-color:black padding:30px"></div>
  </body>
</html>
